@import "./_variables.scss";

.footer{
    height: 12.5vh;
    background-color: color(gold);
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-text-text{
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: 16px;
    @include mobile {
        font-size: 11px;
    }
}