@function color($color-name) {
    @return map-get($colors, $color-name);
}
$colors: (
    black: #000000,
    white: #ffffff,
    gold: #C2B669
);

$desktop: 1100px;
$laptop: 900px;
$tablet: 700px;
$mobile: 400px;

@mixin desktop {
  @media(max-width: #{$desktop}){
    @content;
  }
}
@mixin laptop {
  @media(max-width: #{$laptop}){
    @content;
  }
}
@mixin tablet {
  @media(max-width: #{$tablet}){
    @content;
  }
}

@mixin mobile {
  @media(max-width: #{$mobile}){
      @content;
  }
}

@keyframes fadein{
  0% {
      transform: scale(1.5); 
      opacity: 0;
  }
  100% {
      transform: scale(1); 
      opacity: 1;
  }
}
